In [1]:
import sklearn
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\\Users\\DELL\\Downloads\\iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df.drop(['Id','Species'],axis=1,inplace=True)

In [5]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [60]:
#Imported a model to compare
from sklearn.cluster import KMeans
k=KMeans(n_clusters=3)
k.fit(df.values)

KMeans(n_clusters=3)

In [61]:
k.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [99]:
import random
class Kmeans:
    def __init__(self,n=3):
        self.n=n
        
    def distance(self,x,x1):
        a=sum([(x[i]-x1[i])**2 for i in range(len(x))])
        return a**0.5
        
    def fit(self,x):
        self.best_labels=None
        self.best={}
        var=float('inf')
        for i in range(10):
            self.labels=[None]*x.shape[0]
            d={}
            for i in range(self.n):
                d[i]=random.choice(x)
            while(True):
                d1={}
                c=[0]*self.n
                for j in range(x.shape[0]):
                    l=[]
                    for k in d:
                        l.append([self.distance(x[j],d[k]),k])
                    l.sort(key=lambda p:p[0])
                    self.labels[j]=l[0][1]
                for j in range(self.n):
                    d1[j]=np.array([0.0]*x.shape[1])
                for j in range(x.shape[0]):
                    v=self.labels[j]
                    d1[v]+=x[j]
                    c[v]+=1
                for j in range(self.n):
                    if(c[j]!=0):
                        d1[j]/=c[j]
                    else:
                        print(d1[j],c[j])
                b1=0
                for j in d:
                    if((d[j]==d1[j]).sum()==len(d[j])):
                        b1+=1
                if(b1==self.n):
                    break
                else:
                    d=d1
            var1=0
            for j in range(x.shape[0]):
                v=self.labels[j]
                var1+=self.distance(x[j],d[v])
            if(var1<var):
                self.best=d 
                self.best_labels=self.labels
                var=var1

In [100]:
m=Kmeans(n=3)
m.fit(df.values)

In [105]:
#Created model cluster centers
m.best

{0: array([6.85      , 3.07368421, 5.74210526, 2.07105263]),
 1: array([5.9016129 , 2.7483871 , 4.39354839, 1.43387097]),
 2: array([5.006, 3.418, 1.464, 0.244])}

In [106]:
#Imported model cluster centers
#The cluster centres were exactly the same, the numbering was different
k.cluster_centers_

array([[5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [5.006     , 3.418     , 1.464     , 0.244     ],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])