In [2]:
import sklearn
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('C:\\Users\\DELL\\Downloads\\archive\\glass.csv')
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [150]:
from sklearn.model_selection import train_test_split
x,x1,y,y1=train_test_split(df.drop('Type',axis=1),df['Type'],test_size=0.2)
x=x.values
y=y.values
y1=y1.values
x1=x1.values

In [151]:
class KNN:
    def fit(self,x,y,k):
        self.x=x
        self.y=y
        self.k=k
        
    def distance(self,x,x1):
        c=0
        for i in range(len(x)):
            c+=(x[i]-x1[i])**2
        return c**0.5
    
    def predict(self,x1):
        l=[]
        for i in x1:
            d=[]
            for j in range(len(self.x)):
                p=self.distance(i,self.x[j])
                d.append([p,self.y[j]])
            d.sort(key=lambda p:p[0])
            di={}
            for j in range(self.k):
                di[d[j][1]]=di.get(d[j][1],0)+1
            p=list(di.items())
            p.sort(key=lambda a:a[1],reverse=True)
            l.append(p[0][0])
        return np.array(l)

In [162]:
k=KNN()
k.fit(x,y,8)

In [163]:
res=k.predict(x1)

In [164]:
(res==y1).sum()

29

In [165]:
y1.shape

(43,)

In [166]:
y1

array([6, 1, 3, 7, 2, 1, 7, 7, 7, 2, 5, 7, 2, 3, 1, 2, 7, 2, 2, 1, 7, 2,
       5, 5, 7, 3, 7, 1, 1, 2, 1, 1, 1, 6, 7, 2, 5, 2, 2, 2, 2, 7, 5],
      dtype=int64)

In [167]:
res

array([1, 2, 3, 7, 2, 1, 7, 7, 7, 1, 5, 2, 1, 3, 1, 2, 7, 2, 2, 1, 2, 2,
       5, 2, 7, 1, 7, 3, 1, 1, 1, 1, 1, 2, 7, 2, 2, 1, 1, 2, 2, 7, 5],
      dtype=int64)